<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>First Demo</title>
</head>
<body ng-app="FirstApp">
    <div ng-controller="NumberController">
        <label>Enter First No:</label>
        <input type="number" ng-model="firstNumber" /><br /><br />

        <label>Enter Second No:</label>
        <input type="number" ng-model="secondNumber" /><br /><br />

        <button type="button" ng-click="getResults()">Get Results</button><br /><br />

        <div> Result = {{result}}</div>
        
    </div>
    <script src="../Scripts/angular.js"></script>
    <script>
        var app = angular.module("FirstApp", []);

        app.controller("NumberController", function ($scope) {

            $scope.firstNumber = 77;
            $scope.secondNumber = 88;

            $scope.getResults = function () {

                $scope.result = $scope.firstNumber + $scope.secondNumber;
            }
        })
    </script>
</body>
</html>
